/* .App {
  text-align: center;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); }
  0.00125% { transform: rotate(540deg); }
  0.005% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
