.authBackground{
    display: flex;
    justify-content: center;
    background-color: #AFD4C0;
    height: fill;
    width: fill;
}
.authContainer{
    background-color: white;
    height: fill;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.authLogo{
    animation: App-logo-spin infinite 21600s linear;

    /* margin-top: auto;  */
}
.inputContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 75%;

}
.inputContainer h3{
    margin: 20px 0 5px 10px;
}
.authInput{
    border: #AFD4C0 solid 1px;
}
.authButtons{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.authLoginButton{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8AEA92;
    height: 35px;
    width: 100px;
    color: black;
    font-weight: bold;
    font-size: 14px
}
.authRegisterButton{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B5249;
    height: 35px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 14px    
}